.large {
  font-size: 125%;
}

.emphasize {
  color: #666;  
  font-style: italic;
}

.gallery {
  height: 400px;
  width: 600px;
  position: relative;
  overflow: hidden;
}

.gallery img {
  position: absolute;
  height: 400px;
  width: 600px;
  left: 600px;
}

.gallery img:nth-child(1) {
  left: 0;
}

fieldset {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px; }

label {
  display: inline-block;
  min-width: 100px; }

input[type="text"], input[type="email"], input[type="password"], input[type="tel"] {
  margin: 8px;
  padding: 6px 12px;
  outline: none;
  border: 1px solid #666;
  border-radius: 4px;
  box-shadow: inset 0 0 3px 3px #fafafa; 
}

input[type="submit"] {
  font-family: "Trebuchet MS", Verdana, Arial, sans-serif;
  font-size: 16px;
  padding: 4px 8px;
  background-color: #fcfcfc;
  box-shadow: 0 0 1px 0 #aaa;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }
  input[type="submit"]:hover {
    background-color: #f4f4f4;
    box-shadow: 0 0 1px 0 #ccc; }

html {
  min-height: 100%;
  background-color: darkgray;
 }

body {
  font-size: 16px;
  font-family: "Trebuchet MS", Verdana, Arial, sans-serif; }

.clear {
  clear: both; }

#content {
  overflow: auto;
  width: 80%;
  background-color: #fff;
  margin: 30px auto 0 auto;
  padding: 20px 30px;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px; }

h1 {
  color: #000;
  text-align: center;
  font-size: 60px;
 }

h2 {
  border-bottom: 1px solid #aaa;
    padding-bottom: 10px; 
    font-size: 30px;
}

#dashboard {
  position: absolute;
  width: 120px;
  height: 60%;
  left: -140px;
  top: 100px;
  padding: 20px;
  border-radius: 0 6px 6px 0;
  box-shadow: 0 0 3px 3px #f0f0f0;
  background-color: #999; }

.input-element {
    margin: 10px;
}